<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Message Board</title>
</head>
<body>
  <%- include('header') %>
  <div class="form-wrapper">
    <form action="/new" method="POST" class="message-form">
      <label for="user" class="form-label">Name:</label>
      <input type="text" id="user" name="messageUser" class="form-input" required>
      <br>
      <label for="text" class="form-label">Message:</label>
      <textarea id="text" name="messageText" class="form-textarea" required></textarea>
      <br>
      <button type="submit" class="form-button submit-button">Send Message</button>
      <button type="reset" class="form-button reset-button">Clear</button>
    </form>
  </div>
</body>
</html>
