<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Message Board</title>
</head>
<body>
  <%- include('header') %>
  <h1>New Message</h1>
  <form action="/new" method="POST">
    <label for="user">User:</label>
    <input type="text" id="user" name="messageUser" required>
    <br>
    <label for="text">Message:</label>
    <textarea id="text" name="messageText" required></textarea>
    <br>
    <button type="submit">Send Message</button>
  </form>
    <button><a href="/">Back to messages</a></button>
  </a>
</body>
</html>