<header class="header">
  <h1 class="header-title">Message Board</h1>
  <nav class="nav">
    <a href="/" class="home-nav">Home</a>
    <a href="/new" class="new-nav">New Message</a>
  </nav>
</header>