<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/stylesheets/style.css">
  <title>Message Board</title>
</head>
<body>
  <%- include('header') %>
  
  <ul>
    <% messages.forEach(function(message) { %>
      <li>
        <strong><%= message.user %></strong><%= message.text %> 
        <em>(<%= message.added %>)</em>
      </li>
    <% }) %>
  </ul>
  <button><a href="/new">Add new message</a></button>
</body>
</html>
