<div class="message-item">
    <strong class="message-name"><%= message.user %></strong>
    <div class="message-text"><%= message.text %></div>
    <div class="message-date"><%= message.added %></div>
</div>